<center>
    <!-- 页脚版权 -->
    <p style="font-weight:bold;font-size:18px;line-height:26px;">
        &copy; <a href="https://www.xshgzs.com?from=tp_rbac" target="_blank" style="font-size:21px;">生蚝科技</a> 2014-<?= date('Y'); ?>
        <br>
        All Rights Reserved.<br>
        <a href="http://miit.beian.gov.cn/" target="_blank" style="color:black;">粤ICP备19018320号-1</a><br><br>
    </p>
    <!-- ./页脚版权 -->

    <!-- 友情链接 -->
    <p style="font-size:16px;">
        友情链接：<a href="http://106.13.195.238/" target="_blank">小丁健康日记平台</a>
    </p>
    <!-- ./友情链接 -->
</center>
