<?php
/**
 * @name 小丁健康日记平台-V-后台-系统配置
 * @author Oyster Cheung <master@xshgzs.com>
 * @since 2020-06-21
 * @version 2020-06-26
 */
?>
{extend name="/framework" /}

{block name='title'}系统配置 / 小丁健康日记平台后台{/block}

{block name='pageCss'}
<style>
	@media (min-width: 768px) {
		#CUModal>div {
			width: 800px;
		}
	}
</style>
{/block}

{block name='vueBody'}
<table-filter ref="filterRef"
			  :form="filterForm"
			  :filter-data.sync="filterData"
			  submit-event-name="getFilterData">
</table-filter>

<div class="operateBtnGroup">
	<button class="btn btn-primary" @click="readyCU('create','','')">新增配置项</button>
	<button class="btn">点击单行可查看该配置的备注</button>
</div>

<div class="div_table">
	<table id="table" class="table table-striped table-bordered table-hover"
		   style="border-radius: 5px; border-collapse: separate;">
		<thead style="background-color: #fff;">
			<tr>
				<th>键名</th>
				<th>中文名</th>
				<th>创建时</th>
				<th>修改时</th>
				<th>IP</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			<tr v-for="info in list">
				<td @click="getRemark(info['name'])">{{info['name']}}</td>
				<td @click="getRemark(info['name'])">{{info['chinese_name']}}</td>
				<td @click="getRemark(info['name'])" class="cell-center">{{info['create_time']}}</td>
				<td @click="getRemark(info['name'])" class="cell-center">{{info['update_time']}}</td>
				<td @click="getRemark(info['name'])" class="cell-center">{{info['ip']}}</td>
				<td class="cell-button-group">
					<button class="btn btn-info"
							@click="readyCU('update',info['name'],info['chinese_name'])">编辑配置值</button>
					<button class="btn btn-warning"
							@click="readyModifyName(info['name'],info['chinese_name'])">修改键名</button>
					<button class="btn btn-danger" @click="readyDelete(info['name'],info['chinese_name'])">删除</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<pagination ref="pageNav"
			:now.sync="nowPage"
			:total="total"
			:per-page="perPage"
			getdata-event-name="getList">
</pagination>

<div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">
					删除配置&nbsp;[<font color="#fb7312">{{ deleteInfo.chineseName }}</font>]
				</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger">
					<center style="font-size: 18px;">
						请确认是否删除<br>
						<font color="#edff5a"><b>{{deleteInfo.chineseName}}</b></font>
						(<font color="#68e0ff">{{deleteInfo.name}}</font>)
						<hr>
						如已确认，请输入密码以验证身份
					</center>
				</div>

				<div class="input-group">
					<span class="input-group-addon">
						<font color="#4957ff"><b>您的密码</b></font>
					</span>
					<input type="password" v-model="deleteInfo.password" class="form-control">
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">&lt; 放弃</button>
				<button class="btn btn-danger" @click="toDelete">确认删除 &gt;</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modifyNameModal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">
					修改配置键名&nbsp;[<font color="#fb7312">{{ modifyNameInfo.chineseName }}</font>]
				</h3>
			</div>
			<div class="modal-body">
				<div class="input-group">
					<span class="input-group-addon">
						<font color="#3eab4b"><b>旧键名</b></font>
					</span>
					<input :value="modifyNameInfo.oldName" class="form-control" disabled>
				</div>
				<div class="input-group">
					<span class="input-group-addon">
						<font color="red"><b>新键名</b></font>
					</span>
					<input v-model="modifyNameInfo.newName" class="form-control"
						   style="font-weight: bold;font-size: 16px;">
				</div>
				<hr>
				<div class="input-group">
					<span class="input-group-addon">
						<font color="#4957ff"><b>您的密码</b></font>
					</span>
					<input type="password" v-model="modifyNameInfo.password" class="form-control">
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">&lt; 放弃</button>
				<button class="btn btn-warning" @click="toModifyName">确认编辑 &gt;</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="CUModal" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">
					{{ CUInfo.operateType=='create'?'新建':'修改' }}配置

					<template v-if="CUInfo.operateType=='update'">
						&nbsp;[<font color="#fb7312">{{ CUInfo.showName }}</font>]
					</template>
				</h3>
			</div>
			<div class="modal-body">
				<table class="table table-striped table-bordered table-hover"
					   style="border-radius: 5px; border-collapse: separate;">
					<tr>
						<th style="vertical-align: middle;">配置键名</th>
						<td>
							<input v-model="CUInfo.name" class="form-control"
								   :disabled="CUInfo.operateType=='create'?false:true">
						</td>
					</tr>
					<tr>
						<th style="vertical-align: middle;">配置中文名</th>
						<td>
							<input v-model="CUInfo.chineseName" class="form-control">
						</td>
					</tr>
					<tr>
						<th style="vertical-align: middle;">配置值</th>
						<td>
							<textarea id="cuValue_text" v-model="CUInfo.value" class="form-control"
									  rows="18"></textarea>
						</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">&lt; 放弃</button>
				<button class="btn btn-success" @click="toCU">确认 &gt;</button>
			</div>
		</div>
	</div>
</div>
{/block}

{block name='js'}
<script>
	var vm = new Vue({
		el: '#app',
		components: {
			'table-filter': tableFilterVue,
			'pagination': paginationVue,
		},
		data: {
			token: "{$token}",
			total: 0,
			nowPage: 1,
			perPage: 25,
			list: [],
			detail: [],
			filterForm: [
				{
					name: {
						type: "input",
						name: "配置键名"
					},
					value: {
						type: "input",
						name: "配置值"
					},
				},
				{
					create_time: {
						type: "input",
						name: "创建时间"
					},
					update_time: {
						type: "input",
						name: "修改时间"
					}
				}
			],
			filterData: {},
			CUInfo: {
				operateType: "",
				showName: "",
				name: "",
				chineseName: "",
				value: ""
			},
			deleteInfo: {
				name: "",
				chineseName: "",
				password: ""
			},
			modifyNameInfo: {
				oldName: "",
				newName: "",
				chineseName: "",
				password: ""
			},
		},
		methods: {
			getFilterData: function () {
				this.getList();
			},
			getList: function () {
				let that = this;

				if ((this.nowPage - 1) * this.perPage > this.totalPage) {
					showModalTips("当前页码大于数据总条数，请返回上一页！");
					return;
				}

				lockScreen();

				$.ajax({
					url: window.CONFIG.consoleApiPath + "config/list",
					dataType: "json",
					type: "post",
					data: {
						filterData: that.filterData,
						token: that.token,
						page: that.nowPage,
						perPage: that.perPage,
					},
					error: function (e) {
						unlockScreen();
						console.log(e);
						showModalTips("服务器错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + e.responseJSON.tables.Session.errorRequestId);
					},
					success: function (ret) {
						unlockScreen();

						if (ret.code == 200) {
							that.list = ret.data.list;
							that.total = ret.data.total;

							that.$refs.pageNav.totalData = that.total;
							that.$refs.pageNav.totalPage = Math.ceil(that.total / that.perPage);
							return;
						} else if (ret.tips !== '') {
							showModalTips(ret.tips);
						} else {
							showModalTips("系统错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + ret.requestId);
						}
					}
				})
			},
			getRemark: function (name) {
				let that = this;
				lockScreen();

				$.ajax({
					url: window.CONFIG.consoleApiPath + "config/getRemark",
					type: "get",
					dataType: "json",
					data: {
						token: that.token,
						name: name
					},
					error: function (e) {
						unlockScreen();
						console.log(e);
						showModalTips("服务器错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + e.responseJSON.tables.Session.errorRequestId);
					},
					success: function (ret) {
						unlockScreen();

						if (ret.code == 200) {
							showModalTips(ret.data.remark, "[" + name + "]的备注");
						} else if (ret.tips !== '') {
							showModalTips(ret.tips);
						} else {
							showModalTips("系统错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + ret.requestId);
						}
					}
				});
			},
			readyCU: function (operateType, name, chineseName) {
				let that = this;
				this.CUInfo.operateType = operateType;
				this.CUInfo.showName = chineseName;
				this.CUInfo.name = name;
				this.CUInfo.chineseName = chineseName;
				this.CUInfo.value = "";

				if (operateType === 'update') {
					lockScreen();

					$.ajax({
						url: window.CONFIG.consoleApiPath + "config/getValue",
						type: "get",
						dataType: "json",
						data: {
							token: that.token,
							name: name
						},
						error: function (e) {
							unlockScreen();
							console.log(e);
							showModalTips("服务器错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + e.responseJSON.tables.Session.errorRequestId);
						},
						success: function (ret) {
							unlockScreen();

							if (ret.code == 200) {
								that.CUInfo.value = ret.data.value;
							} else if (ret.tips !== '') {
								showModalTips(ret.tips);
							} else {
								showModalTips("系统错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + ret.requestId);
							}
						}
					});
				}

				$("#CUModal").modal("show");
				return true;
			},
			toCU: function () {
				let that = this;
				let CUInfo = that.CUInfo;

				if (CUInfo.value == '') {
					showModalTips("配置值不能为空！");
					return false;
				}

				delete CUInfo.showName;

				lockScreen();
				$("#CUModal").modal("hide");

				$.ajax({
					url: window.CONFIG.consoleApiPath + "config/toCU",
					type: "post",
					dataType: "json",
					data: {
						token: that.token,
						cuInfo: CUInfo
					},
					error: function (e) {
						unlockScreen();
						console.log(e);
						showModalTips("服务器错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + e.responseJSON.tables.Session.errorRequestId);
					},
					success: function (ret) {
						unlockScreen();

						if (ret.code == 200) {
							alert("操作成功！");
							that.getList();
						} else if (ret.tips !== '') {
							showModalTips(ret.tips);
						} else {
							showModalTips("系统错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + ret.requestId);
						}
					}
				});
			},
			readyDelete: function (name, chineseName) {
				this.deleteInfo.chineseName = chineseName;
				this.deleteInfo.name = name;
				this.deleteInfo.password = "";

				$("#deleteModal").modal("show");
				return true;
			},
			toDelete: function () {
				let that = this;
				let deleteInfo = this.deleteInfo;

				if (deleteInfo.password.length < 6) {
					showModalTips("请正确输入密码");
					return false;
				}

				lockScreen();
				$("#deleteModal").modal("hide");

				delete deleteInfo.chineseName;

				$.ajax({
					url: window.CONFIG.consoleApiPath + "config/toDelete",
					type: "post",
					dataType: "json",
					data: {
						token: that.token,
						deleteInfo: deleteInfo
					},
					error: function (e) {
						unlockScreen();
						console.log(e);
						showModalTips("服务器错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + e.responseJSON.tables.Session.errorRequestId);
					},
					success: function (ret) {
						unlockScreen();

						if (ret.code == 200) {
							alert("删除成功！");
							that.getList();
						} else if (ret.tips !== '') {
							showModalTips(ret.tips);
						} else {
							showModalTips("系统错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + ret.requestId);
						}
					}
				})
			},
			readyModifyName: function (name, chineseName) {
				this.modifyNameInfo.chineseName = chineseName;
				this.modifyNameInfo.oldName = name;
				this.modifyNameInfo.newName = "";
				this.modifyNameInfo.password = "";

				$("#modifyNameModal").modal("show");
				return true;
			},
			toModifyName: function () {
				let that = this;
				let info = that.modifyNameInfo;

				if (info.newName.length < 6) {
					showModalTips("请正确输入 [6个字符以上] 的新键名");
					return false;
				}
				if (info.password.length < 6) {
					showModalTips("请正确输入密码");
					return false;
				}

				delete info.chineseName;

				$.ajax({
					url: window.CONFIG.consoleApiPath + "config/toModifyName",
					type: "post",
					dataType: "json",
					data: {
						token: that.token,
						info: info
					},
					error: function (e) {
						unlockScreen();
						console.log(e);
						showModalTips("服务器错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + e.responseJSON.tables.Session.errorRequestId);
					},
					success: function (ret) {
						unlockScreen();

						if (ret.code == 200) {
							alert("修改成功！");
							that.getList();
							$("#modifyNameModal").modal("hide");
						} else if (ret.tips !== '') {
							showModalTips(ret.tips);
						} else {
							showModalTips("系统错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + ret.requestId);
						}
					}
				})
			}
		},
		mounted() {
			this.getList();
		},
	});
</script>
{/block}