<?php
/**
 * @name 个人健康日记平台-V-枚举管理
 * @author Oyster Cheung <master@xshgzs.com>
 * @since 2020-05-17
 * @version 2020-05-30
 */
?>
{extend name="/framework" /}

{block name='pageCss'}
<style>
	ul.ztree {
		margin-top: 10px;
		border: 1px solid #617775;
		background: #f0f6e4;
		height: 360px;
		overflow-y: scroll;
		overflow-x: auto;
	}

	.ztree li {
		line-height: 20px;
	}

	.node_name {
		font-size: 14px;
	}

	td,
	th {
		text-align: center;
	}
</style>
{/block}

{block name='vueBody'}
<div class="row">
	<div class="col-lg-5">
		<ul id="ztree" class="ztree"></ul>
	</div>

	<div class="col-lg-7">
		<div class="panel panel-default">
			<div class="panel-body">
				<div style="width:98%;text-align:center;margin: 0 auto;font-size:17px;">
					<div class="alert alert-info">
						当前枚举类型名：<b>{{nowTypeInfo.name}}</b>
					</div>
				</div>

				<center>
					<button class="btn btn-success" :disabled="nowTypeInfo.isParent===true || nowTypeInfo.id<=0"
							@click="readyCU('create','value',nowTypeInfo.id,'')">&nbsp;&nbsp;新增枚举值&nbsp;&nbsp;</button>
					|
					<button class="btn btn-primary"
							@click="readyCU('create','type',nowTypeInfo.id,'')">&nbsp;&nbsp;新增类型&nbsp;&nbsp;</button>
					<button class="btn btn-warning" :disabled="nowTypeInfo.id<=0"
							@click="readyCU('update','type',nowTypeInfo.id,nowTypeInfo.name)">&nbsp;&nbsp;修改类型内容&nbsp;&nbsp;</button>
					<button class="btn btn-danger" :disabled="nowTypeInfo.isParent===true || nowTypeInfo.id<=0"
							@click="readyDelete('type',nowTypeInfo.id,nowTypeInfo.name)">&nbsp;&nbsp;删除当前类型&nbsp;&nbsp;</button>
				</center>

				<hr>

				<table class="table table-striped table-bordered table-hover"
					   style="border-radius: 5px; border-collapse: separate;">
					<thead>
						<tr>
							<th>#</th>
							<th>枚举值</th>
							<th>最后修改时</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody>
						<!-- 选中子枚举类型 -->
						<template v-if="enumList.length>0">
							<tr v-for="info in enumList">
								<td>{{ info['id'] }}</td>
								<td>{{ info['value'] }}</td>
								<td>{{ info['update_time'] }}</td>
								<td>
									<button class="btn btn-info"
											@click="readyCU('update','value',info['id'],info['value'])">修改</button>
									<button class="btn btn-danger"
											@click="readyDelete('value',info['id'],info['value'])">删除</button>
								</td>
							</tr>
						</template>

						<!-- 选中父枚举类型 -->
						<template v-else-if="nowTypeInfo.isParent===true">
							<tr>
								<td colspan="4" style="font-size: 17px;font-weight: bold;color:#0095ff;">
									当前选择节点为父枚举类型<br>
									请选择子枚举类型
								</td>
							</tr>
						</template>

						<!-- 选中类型没有枚举值 -->
						<template v-else-if="nowTypeInfo.isParent===false && enumList.length<=0">
							<tr>
								<td colspan="4" style="font-size: 17px;font-weight: bold;color:#0095ff;">
									当前选择的枚举类型无枚举值<br>
									请新增枚举值
								</td>
							</tr>
						</template>

						<!-- 啥都还没选中 -->
						<template v-else>
							<tr>
								<td colspan="4" style="font-size: 17px;font-weight: bold;color:#fb7312;">请选择枚举类型</td>
							</tr>
						</template>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true"></span><span
						  class="sr-only">Close</span></button>
				<h3 class="modal-title">确认删除提示</h3>
			</div>
			<div class="modal-body">
				<p style="color:#fb7312;font-weight:bold;font-size:21px;text-align:center;">
					您确认要删除<br>
					{{ deleteInfo.type=='type' ? '枚举父类型' : '枚举值' }} [<font color="#07b6fc">{{ deleteInfo.name }}</font>]
					吗？
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">&lt; 放弃</button>
				<button class="btn btn-danger" @click="toDelete">确认删除 &gt;</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="CUModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true"></span><span
						  class="sr-only">Close</span></button>
				<h3 class="modal-title">
					{{ CUInfo.operateType=='create'?'新建':'修改' }}
					<b style="color:#fb7312">{{ CUInfo.type=='type'?'父类型':'枚举值' }}</b>
					&nbsp;[<font color="#127afb">{{ CUInfo.name }}</font>]
				</h3>
			</div>
			<div class="modal-body">
				<table class="table table-striped table-bordered table-hover"
					   style="border-radius: 5px; border-collapse: separate;">
					<tr v-if="CUInfo.operateType==='update'">
						<th style="vertical-align: middle;">ID</th>
						<td>
							<input :value="CUInfo.id" class="form-control" disabled>
						</td>
					</tr>
					<tr>
						<th style="vertical-align: middle;">{{ CUInfo.type=='type'?'父类型名称':'枚举值' }}</th>
						<td>
							<input v-model="CUInfo.value" class="form-control">
						</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">&lt; 放弃</button>
				<button class="btn btn-danger" @click="toCU">确认 &gt;</button>
			</div>
		</div>
	</div>
</div>
{/block}

{block name='vueScript'}
<script>
	var vm = new Vue({
		el: '#app',
		data: {
			token: "{$token}",
			enumList: [],
			nowTypeInfo: {
				name: "",
				id: 0,
				isParent: false
			},
			deleteInfo: {
				id: "",
				type: "",
				name: ""
			},
			CUInfo: {
				operateType: "",
				type: "",
				id: 0,
				name: "",
				value: ""
			},
			setting: {
				callback: {
					onClick: onclickNode
				},
				data: {
					simpleData: {
						enable: true
					}
				}
			}
		},
		methods: {
			makeTree: function () {
				let that = this;

				try {
					$.fn.zTree.destroy();
				} catch (e) {

				}

				$.ajax({
					url: window.CONFIG.consoleApiPath + "enum/getTypeListForZtree",
					data: { token: that.token },
					dataType: "json",
					async: false,
					error: function (e) {
						unlockScreen();
						console.log(e);
						errorTips = this.url.replace(window.CONFIG.apiPath, "") + "<br>";
						errorTips += (e.responseJSON.message !== '') ? e.responseJSON.message : statusText;
						showModalTips("服务器错误<br>请联系技术支持并提供以下信息<hr><p style='font-size:17px;color:black'>" + errorTips);
					},
					success: function (ret) {
						if (ret.code == 200) {
							$.fn.zTree.init($("#ztree"), that.setting, ret.data.nodes);
						} else if (ret.tips !== '') {
							showModalTips(ret.tips);
						} else {
							showModalTips("系统错误<br>请联系技术支持并提供以下信息<hr><p style='font-size:17px;color:black'>[" + ret.code + "] " + ret.tips);
						}
					}
				});
			},
			getEnum: function (typeId = 0, name = "") {
				let that = this;

				that.nowTypeInfo.id = typeId;
				that.nowTypeInfo.name = name;

				$.ajax({
					url: window.CONFIG.apiPath + "enum/list",
					data: {
						token: that.token,
						type: typeId
					},
					dataType: "json",
					error: function (e) {
						unlockScreen();
						console.log(e);
						errorTips = this.url.replace(window.CONFIG.apiPath, "") + "<br>";
						errorTips += (e.responseJSON.message !== '') ? e.responseJSON.message : statusText;
						showModalTips("服务器错误<br>请联系技术支持并提供以下信息<hr><p style='font-size:17px;color:black'>" + errorTips);
					},
					success: function (ret) {
						if (ret.code == 200) {
							that.enumList = ret.data['data'];
						} else if (ret.tips !== '') {
							showModalTips(ret.tips);
						} else {
							showModalTips("系统错误<br>请联系技术支持并提供以下信息<hr><p style='font-size:17px;color:black'>[" + ret.code + "] " + ret.tips);
						}
					}
				});
			},
			readyDelete: function (type = "value", id = 0, name = "") {
				let that = this;

				if (id == 0) {
					showModalTips("请先选择删除对象");
					return;
				}

				that.deleteInfo.type = type;
				that.deleteInfo.id = id;
				that.deleteInfo.name = name;

				$("#deleteModal").modal("show");
			},
			toDelete: function () {
				let that = this;

				lockScreen();
				$("#deleteModal").modal("hide");

				$.ajax({
					url: window.CONFIG.consoleApiPath + "enum/delete",
					type: "post",
					data: {
						token: that.token,
						info: that.deleteInfo
					},
					dataType: "json",
					error: function (e) {
						unlockScreen();
						console.log(e);
						errorTips = this.url.replace(window.CONFIG.apiPath, "") + "<br>";
						errorTips += (e.responseJSON.message !== '') ? e.responseJSON.message : statusText;
						showModalTips("服务器错误<br>请联系技术支持并提供以下信息<hr><p style='font-size:17px;color:black'>" + errorTips);
					},
					success: function (ret) {
						unlockScreen();

						if (ret.code == 200) {
							alert("删除成功！");

							// 按照删除类型重新加载
							if (that.deleteInfo.type == "value") {
								that.getEnum(that.nowTypeInfo.id, that.nowTypeInfo.name);
							} else {
								that.enumList = [];
								that.nowTypeInfo = {
									id: 0,
									name: "",
									isParent: false
								};
								that.makeTree();
							}
						} else if (ret.tips !== '') {
							showModalTips(ret.tips);
						} else {
							showModalTips("系统错误<br>请联系技术支持并提供以下信息<hr><p style='font-size:17px;color:black'>[" + ret.code + "] " + ret.tips);
						}
					}
				});
			},
			readyCU: function (operateType, type, id, value) {
				this.CUInfo.operateType = operateType;
				this.CUInfo.type = type;
				this.CUInfo.id = id;
				this.CUInfo.name = value;
				this.CUInfo.value = value;// 分开是为了modal标题不变而实现v-model

				$("#CUModal").modal("show");
				return true;
			},
			toCU: function () {
				let that = this;
				let CUInfo = that.CUInfo;
				delete CUInfo.name;

				lockScreen();
				$("#CUModal").modal("hide");

				$.ajax({
					url: window.CONFIG.consoleApiPath + "enum/toCU",
					type: "post",
					dataType: "json",
					data: {
						token: that.token,
						cuInfo: CUInfo
					},
					error: function (e) {
						unlockScreen();
						console.log(e);
						errorTips = this.url.replace(window.CONFIG.apiPath, "") + "<br>";
						errorTips += (e.responseJSON.message !== '') ? e.responseJSON.message : statusText;
						showModalTips("服务器错误<br>请联系技术支持并提供以下信息<hr><p style='font-size:17px;color:black'>" + errorTips);
					},
					success: function (ret) {
						unlockScreen();

						if (ret.code == 200) {
							alert("操作成功！");

							// 按照删除类型重新加载
							if (that.CUInfo.type == "value") that.getEnum(that.nowTypeInfo.id, that.nowTypeInfo.name);
							else that.makeTree();
						} else if (ret.tips !== '') {
							showModalTips(ret.tips);
						} else {
							showModalTips("系统错误<br>请联系技术支持并提供以下信息<hr><p style='font-size:17px;color:black'>[" + ret.code + "] " + ret.tips);
						}
					}
				})
			}
		},
		mounted() {
			this.makeTree();
		},
	});

	function onclickNode(event, treeId, node) {
		console.log("当前选中枚举节点", node);

		// 重置变量
		vm.enumList = [];
		vm.nowTypeInfo = {
			id: 0,
			name: "",
			isParent: false
		};

		if (node.isParent === false) {
			vm.getEnum(node.id, node.name);
		} else {
			vm.nowTypeInfo.id = node.id;
			vm.nowTypeInfo.name = node.name + "（父类型）";
			vm.nowTypeInfo.isParent = true;
		}
	}
</script>
{/block}